git+https://github.com/wazo-pbx/xivo-auth-client.git
git+https://github.com/wazo-pbx/xivo-call-logs-client.git
git+https://github.com/wazo-pbx/xivo-confd-client.git
git+https://github.com/wazo-pbx/wazo-plugind-client.git
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git  # from xivo-*-client
babel==2.3.4
cherrypy==3.7.0
flask-babel==0.11.1
flask-classful==0.13.1
flask-login==0.4.0
flask-menu==0.5.1
flask-session==0.3.0
flask-wtf==0.14.2
flask==0.10.1
pyopenssl==0.14  # from xivo-lib-python
pyyaml==3.10  # from xivo-lib-python
requests==2.4.3
stevedore==1.17.1
