<script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wazo-admin-ui.js') }}"></script>
{% set language = datatable_language() %}
<script type="text/javascript">
  $.extend(true, $.fn.dataTable.defaults, {
      language: $.parseJSON({{ language|tojson }})
  });
</script>
