<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    {% block additional_css %}{% endblock %}
  </head>
  {% from "translations.html" import datatable_language %}
  {% from "macro.html" import render_field,
                              render_fieldlist,
                              render_fieldlistaction,
                              build_breadcrumb,
                              build_form_containers,
                              build_form,
                              add_default_fields,
                              build_list_containers,
                              build_list_table,
                              build_list_table_headers,
                              add_list_table_header_action,
                              build_list_table_rows,
                              add_edit_button,
                              add_delete_button,
                              build_hidden_add_containers %}
  {% if current_user.is_authenticated %}
    <body class="fixed skin-blue sidebar-mini">
      <div class="wrapper">
        {% include 'header.html' %}
        {% include 'sidebar.html' %}
        <div class="content-wrapper">
          {% include 'flashed_messages.html' %}
            {% block content_header %}
              {{ build_content_header(page_header, page_header_description, page_header_level) }}
            {% endblock %}
          {% block content %}{% endblock %}
        </div>
        {% include 'footer.html' %}
      </div>
      {% include 'js.html' %}
      {% block additional_js %}{% endblock %}
    </body>
  {% endif %}
</html>
