<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    {% block additional_css %}{% endblock %}
  </head>
  {% from "macro.html" import render_field,
                              render_fieldlist,
                              render_fieldlistaction,
                              build_breadcrumb,
                              wrap_form_with_section,
                              wrap_fields_with_form,
                              add_default_fields %}
  {% if current_user.is_authenticated %}
    <body class="fixed skin-blue sidebar-mini">
      <div class="wrapper">
        {% include 'header.html' %}
        {% include 'sidebar.html' %}
        <div class="content-wrapper">
          {% include 'flashed_messages.html' %}
            {% block content_header %}
              {{ build_content_header(page_header, page_header_description, page_header_level) }}
            {% endblock %}
          {% block content %}{% endblock %}
        </div>
        {% include 'footer.html' %}
      </div>
      {% include 'js.html' %}
      {% block additional_js %}{% endblock %}
    </body>
  {% endif %}
</html>
