{% macro render_field(field,
                      with_label=True,
                      with_icon=False,
                      placeholder=False,
                      inputclass=False,
                      divclass='col-sm-8',
                      class_='') %}
  {% set kwargs_  = kwargs %}

  {% if field.type == 'HiddenField' %}
    {% set with_label=False %}
  {% endif %}

  {% if with_label and not placeholder %}
    {% set placeholder = field.label.text %}
  {% endif %}

  {%- if field.flags.required %}
    {% set class_ = class_ + ' required' %}
  {% endif %}

  {%- call _wrap_label_input_with_div(field, inputclass, with_label) %}

    {%- call _wrap_input_with_div(field, divclass, with_icon) %}

      {%- if field.type == 'BooleanField' %}
        {{ render_field_boolean(field, class_, **kwargs_) }}
      {% elif field.type == 'RadioField' %}
        {{ render_field_radio(field) }}
      {% elif field.type in ('EmailField',
                             'FloatField',
                             'IntegerField',
                             'PasswordField',
                             'StringField',
                             'TextField',
                             'TextAreaField') %}
        {{ field(class_=class_+' form-control', placeholder=placeholder, **kwargs_) }}
      {% elif field.type in ('SelectField',
                             'SelectMultipleField') %}
        {{ render_field_select(field, class_, **kwargs_) }}
      {% elif field.type == 'FieldList' %}
        {{ render_field_form_list(field, class_=class_) }}
      {% elif field.type == 'FormField' %}
        {{ render_field_form(field, class_=class_) }}
      {% elif field.type == 'DestinationField' %}
        {{ render_field_destination(field, class_=class_) }}
      {% else %}
        {{ field(class_=class_, placeholder=placeholder, **kwargs_) }}
      {% endif %}

      {%- if field.errors %}
        <span class="help-block"><i>{{ field.errors|join(', ') }}</i></span>
      {% endif %}
    {%- endcall %}

    {%- if field.description %}
      <p class="help-block">{{ field.description|safe }}</p>
    {% endif %}

  {%- endcall %}
{% endmacro %}


{% macro _wrap_label_input_with_div(field, inputclass, with_label) %}
  {% if field.type == 'SubmitField' %}
    {{ caller() }}

  {%- else %}
    <div class="{{ inputclass if inputclass else 'form-group' }}{{ ' has-error' if field.errors}}">
    {% if with_label %}
      {{ _generate_label_tag_from_field(field) }}
    {% endif %}
    {{ caller() }}
    </div>
  {% endif %}
{% endmacro %}


{% macro _wrap_input_with_div(field, divclass, with_icon) %}
  {% if with_icon %}
    <div class="form-group has-feedback">
      <span class="form-control-feedback glyphicon glyphicon-{{ with_icon }}"></span>
      {{ caller() }}
    </div>

  {%- elif field.type == 'FieldList' %}
    {{ caller() }}

  {%- else %}
    <div class="{{ divclass }}">
      {{ caller() }}
    </div>
  {% endif %}
{% endmacro %}


{% macro render_field_boolean(field, class_) %}
  <div class="checkbox">
    <label>
      {{ field(class_ = class_, **kwargs) }}
    </label>
  </div>
{% endmacro %}


{% macro render_field_radio(field) %}
  {% for value, label, _ in field.iter_choices() %}
    <div class="radio-inline">
      <label>
        <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">
        {{ label }}
      </label>
    </div>
  {% endfor %}
{% endmacro %}


{% macro render_field_select(field, class_) %}
  {% if field.choices %}
    {% set class_=class_+' selectfield' %}
  {% else %}
    {% set class_=class_+' selectfield-ajax' %}
  {% endif %}
  {{ field(class_=class_+' form-control', **kwargs) }}
{% endmacro %}


{% macro render_field_form_list(form_list, class_='', divclass='col-sm-8') %}
  <div class="{{ divclass }}">
  {% for form in form_list %}
    {{ form.csrf_token }}
    {% for field in form %}
      {% if field.type != 'CSRFTokenField' %}
        {{ field(class_ = class_ + ' form-control', **kwargs) }}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
{% endmacro %}


{% macro render_field_form(field, class_) %}
  <div class="">
    {{ _render_fields(field.form, class_=class_, **kwargs) }}
  </div>
{% endmacro %}


{% macro render_field_destination(field, class_) %}
  <div class="destination-container">
    {{ render_field(field.form.type, class_= class_ ~ ' destination-select', **kwargs) }}

    {% for destination in field.form %}
      {% if destination.type == 'FormField' %}
        <div class="destination-{{ destination.short_name }} hidden" data-destination-href="{{ url_for(field.form.listing_urls[destination.short_name]) if field.form.listing_urls[destination.short_name] }}">
          {{ _render_fields(destination.form, class_=class_, **kwargs) }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}



{% macro _render_fields(form, class_) %}
  {% for field in form %}
    {% if field.type != 'CSRFTokenField' %}
      {{ render_field(field, class_=class_, **kwargs) }}
    {% endif %}
  {% endfor %}
{% endmacro %}


{% macro _generate_label_tag_from_field(field) %}
  <label for="{{ field.id }}" class="col-sm-4 control-label">
    {% if field.flags.required %}
      <abbr title="Required">{{ field.label.text }}</abbr>
    {% else %}
      {{ field.label.text }}
    {% endif %}
  </label>
{% endmacro %}


{% macro render_fieldlistaction(form) -%}
  {% set divclass = kwargs.pop('divclass', 'col-sm-8') %}
  {% set with_label = kwargs.pop('with_label', False) %}
  {% set class_ = kwargs.pop('class_', '') -%}

  {% if with_label %}
    {{ _generate_label_tag_from_field(field) }}
  {% endif %}

  {{ render_field_form_list(form, class_, divclass) }}
{% endmacro %}


{% macro render_fieldlist(form) %}
  {% set headers = kwargs.pop('headers', '') -%}

  <div class="no-padding">
    <table class="table table-condensed">
      <thead>
        <tr>
          {% for header in headers %}
            <th class="text-center">{{ header }}</th>
          {% endfor %}
        </tr>
      <thead>
      <tbody id="fieldlist">
        {% for choice in form %}
          <tr>
          {{ choice.csrf_token() }}
          {% for f in choice %}
            {% if f.type != 'CSRFTokenField' %}
              <td class="col-sm-5">
                {{ render_field(f, with_label=False, divclass="col-sm-12") }}
              </td>
            {% endif %}
          {% endfor %}
            <td class="col-sm-2">
              <button class="btn btn-xs btn-danger" id="delete-{{ loop.index0 }}-entry">
                <i class="fa fa-minus"></i>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{%- endmacro %}


{% macro build_menu(current_user, current_menu) %}
  {% if current_user.is_authenticated %}
    {% for item in current_menu.children recursive %}
      {% if item.visible %}
      <li class="{{ 'active' if item.active }}">
        {% if item.children %}
          {{ _build_menu_chidren(item) }}
        {% else %}
          {{ _build_menu_link(item) }}
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}


{% macro _build_menu_link(item) %}
  <a href="{{ item.url }}">
    <i class="fa fa-{{ item.icon if item.icon else 'windows' }}"></i>
    <span>{{ item.text }}</span>
  </a>
{% endmacro %}


{% macro _build_menu_chidren(item) %}
  <li class="treeview {% if item.active or item.active_item %}active{% endif %}">
    <a href="">
      <i class="fa fa-{{ item.icon if item.icon else 'windows' }}"></i>
      <span>{{ item.text }}</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      {% for i in item.children %}
        {% if i.children and i.text %}
          {{ build_menu_chidren(i) }}
        {% elif i.visible %}
          <li{{ ' class="active"' if i.active }}>
            <a href="{{ i.url }}">
              <i class="fa fa-{{ i.icon if i.icon else 'circle-o' }}"></i>
              {{ i.text }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endmacro %}


{% macro build_breadcrumb(name, description, icon, path) %}
  <section class="content-header">
    <h1>
      {{ name }}
      {% if description %}
        <small>{{ description }}</small>
      {% endif %}
    </h1>
    {% if path %}
      <ol class="breadcrumb">
        <li>
          <a href="#"><i class="fa fa-{{ icon }}"></i> {{ name }}</a>
        </li>
        {% for link in path %}
          <li class="active">{{ link }}</li>
        {% endfor %}
      </ol>
    {% endif %}
  </section>
{% endmacro %}


{% macro build_form_containers(title, icon) %}
  {% set caller_ = caller %}
  {% call build_tabs_containers(without_tab=True) %}
    {# TODO: add subtitle arg  or use build_tabs_navigation directly in template #}
    {% call build_tabs_navigation() %}
      {{ add_tab_navigation_header(title, '', icon) }}
    {% endcall %}
    {{ caller_() }}
  {% endcall %}
{% endmacro %}


{% macro build_tabs_containers(without_tab=False) %}
<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="{{ 'box box-primary' if without_tab }}">
        <div class="nav-tabs-custom">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endmacro %}


{% macro build_tabs_navigation() %}
  <ul class="nav nav-tabs pull-right">
    {{ caller() }}
  </ul>
{% endmacro %}


{% macro add_tab_navigation_item(id, name, active=False) %}
  <li class="{{ 'active' if active }}"><a href="#{{ id }}" data-toggle="tab">{{ name }}</a></li>
{% endmacro %}


{% macro add_tab_navigation_header(title, subtitle, icon) %}
  <li class="pull-left header"><i class="fa fa-{{ icon }}"></i> {{ title }}</li>
  <li class="pull-left header"><small>{{ subtitle }}</small></li>
{% endmacro %}


{% macro build_tabs_content() %}
  <div class="tab-content">
    {{ caller() }}
  </div>
{% endmacro %}


{% macro build_tab_content_item(id, active=False) %}
  <div class="{{ 'active' if active }} tab-pane" id="{{ id }}">
    <div class="row">
      <div class="col-md-12">
        {{ caller() }}
      </div>
    </div>
  </div>
{% endmacro %}


{% macro build_form(method="post", action="") %}
  <form class="form-horizontal" method="{{ method }}" action="{{ action }}">
    {{ caller() }}
  </form>
{% endmacro %}


{% macro add_default_fields(form, submit_value) %}
  <div class="box-body">
    {{ form.csrf_token }}
    {{ caller() }}
  </div>
  {% if submit_value %}
    <div class="box-footer">
      {{ render_field(form.submit, class_="btn btn-primary pull-right", value=submit_value, with_label=False) }}
    </div>
  {% endif %}
{% endmacro %}


{% macro build_list_containers(title, icon) %}
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-{{ icon }}"></i>
          <h3 class="box-title">{{ title }}</h3>
          <div class="box-tools">
            <a href="#" id="add-form" class="btn btn-box-tool">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="box-body">
          {{ caller() }}
        </div>
      </div>
    </div>
{% endmacro %}


{% macro build_list_table(serverside=False) %}
  {% if serverside %}
    {% set table_id = "table-list-serverside" %}
  {% else %}
    {% set table_id = "table-list" %}
  {% endif %}
  <table id="{{ table_id }}" class="table table-condensed">
    {{ caller() }}
  </table>
{% endmacro %}


{% macro build_list_table_headers() %}
  <thead>
    <tr>
      {{ caller() }}
    </tr>
  </thead>
{% endmacro %}


{% macro add_list_table_header_action() %}
  <th class="no-sort" style="width: 80px">{{ _('Actions')  }}</th>
{% endmacro %}


{% macro build_list_table_rows(items) %}
  <tbody>
    {% for item in items %}
      <tr>
        {{ caller(item) }}
      </tr>
    {% endfor %}
  </tbody>
{% endmacro %}


{% macro add_edit_button(href) %}
  <a href="{{ href }}" class="btn btn-xs btn-info">
    <i class="fa fa-eye"></i>
  </a>
{% endmacro %}


{% macro add_delete_button(href) %}
  <a href="{{ href }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">
    <i class="fa fa-minus"></i>
  </a>
{% endmacro %}


{% macro build_hidden_add_containers(title) %}
  <div class="col-lg-4">
    <div class="box box-info hidden" id="view-add-form">
      <div class="box-header with-border">
        <h3 class="box-title">{{ title }}</h3>
        <div class="pull-right box-tools">
          <button data-original-title="Remove" type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      {{ caller() }}
    </div>
  </div>
{% endmacro %}
