{% macro render_field(field,
                      with_label=True,
                      with_icon=False,
                      placeholder=False,
                      inputclass=False,
                      divclass='col-sm-8',
                      class_='') %}
  {% if with_label and not placeholder %}
    {% set placeholder = field.label.text %}
  {% endif %}

  {%- if field.flags.required %}
    {% set class_ = class_ + ' required' %}
  {% endif %}

  {%- call _wrap_label_input_with_div(field, inputclass, with_label) %}

    {%- call _wrap_input_with_div(field, divclass, with_icon) %}

      {%- if field.type == 'BooleanField' %}
        {{ render_field_boolean(field, class_, **kwargs) }}
      {% elif field.type == 'RadioField' %}
        {{ render_field_radio(field) }}
      {% elif field.type in ('EmailField',
                             'FloatField',
                             'IntegerField',
                             'PasswordField',
                             'StringField',
                             'TextField',
                             'TextAreaField') %}
        {{ field(class_ = class_ + ' form-control', placeholder=placeholder, **kwargs) }}
        {% elif field.type in ('QuerySelectField',
                               'QuerySelectMultipleField',
                               'SelectField',
                               'SelectMultipleField') %}
        {{ field(class_ = class_ + ' form-control', **kwargs) }}
      {% elif field.type == 'FieldList' %}
        {{ render_field_form_list(field) }}
      {% else %}
        {{ field(class_ = class_ , placeholder=placeholder, **kwargs) }}
      {% endif %}

    {%- endcall %}

    {%- if field.errors %}
      {{ field.errors|join(', ') }}
      <span id="popover" data-toggle="popover" data-container="body" data-trigger="hover"
        title="{{ field.label.text }}" data-placement="bottom" data-content="{{ field.errors|join(', ') }}"></span>
    {% endif %}

    {%- if field.description %}
      <p class="help-block">{{ field.description|safe }}</p>
    {% endif %}

  {%- endcall %}
{% endmacro %}


{% macro _wrap_label_input_with_div(field, inputclass, with_label) %}
  {% if field.type == 'SubmitField' %}
    {{ caller() }}

  {%- else %}
    <div class="{{ inputclass if inputclass else 'form-group' }}{{ ' has-error' if field.errors}}">
    {% if with_label %}
      {{ _generate_label_tag_from_field(field) }}
    {% endif %}
    {{ caller() }}
    </div>
  {% endif %}
{% endmacro %}


{% macro _wrap_input_with_div(field, divclass, with_icon) %}
  {% if with_icon %}
    <div class="form-group has-feedback">
      <span class="form-control-feedback glyphicon glyphicon-{{ with_icon }}"></span>
      {{ caller() }}
    </div>

  {%- elif field.type == 'FieldList' %}
    {{ caller() }}

  {%- else %}
    <div class="{{ divclass }}">
      {{ caller() }}
    </div>
  {% endif %}
{% endmacro %}


{% macro render_field_boolean(field, class_) %}
  <div class="checkbox">
    <label>
    {{ field(class_ = class_, **kwargs) }}
    </label>
  </div>
{% endmacro %}


{% macro render_field_radio(field) %}
  {% for value, label, _ in field.iter_choices() %}
    <div class="radio-inline">
      <label>
        <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">
        {{ label }}
      </label>
    </div>
  {% endfor %}
{% endmacro %}


{% macro render_field_form_list(form_list, class_='', divclass='col-sm-8') %}
  <div class="{{ divclass }}">
  {% for form in form_list %}
    {{ form.csrf_token }}
    {% for field in form %}
      {% if field.type != 'CSRFTokenField' %}
        {{ field(class_ = class_ + ' form-control', **kwargs) }}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
{% endmacro %}


{% macro _generate_label_tag_from_field(field) %}
  <label for="{{ field.id }}" class="col-sm-4 control-label">
    {% if field.flags.required %}
      <abbr title="Required">{{ field.label.text }}</abbr>
    {% else %}
      {{ field.label.text }}
    {% endif %}
  </label>
{% endmacro %}


{% macro render_fieldlistaction(form) -%}
  {% set divclass = kwargs.pop('divclass', 'col-sm-8') %}
  {% set with_label = kwargs.pop('with_label', False) %}
  {% set class_ = kwargs.pop('class_', '') -%}

  {% if with_label %}
    {{ _generate_label_tag_from_field(field) }}
  {% endif %}

  {{ render_field_form_list(form, class_, divclass) }}
{% endmacro %}


{% macro render_fieldlist(form) %}
  {% set headers = kwargs.pop('headers', '') -%}

  <div class="no-padding">
    <table class="table table-condensed">
      <thead>
        <tr>
          {% for header in headers %}
            <th class="text-center">{{ header }}</th>
          {% endfor %}
        </tr>
      <thead>
      <tbody id="fieldlist">
        {% for choice in form %}
          <tr>
          {{ choice.csrf_token() }}
          {% for f in choice %}
            {% if f.type != 'CSRFTokenField' %}
              <td class="col-sm-5">
                {{ render_field(f, with_label=False, divclass="col-sm-12") }}
              </td>
            {% endif %}
          {% endfor %}
            <td class="col-sm-2">
              <button class="btn btn-xs btn-danger" id="delete-{{ loop.index0 }}-entry">
                <i class="fa fa-minus"></i>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{%- endmacro %}


{% macro build_content_header(page_header, page_header_description, page_header_level) %}
  <section class="content-header">
    <h1>
      {{ page_header }}
      <small>{{ page_header_description }}</small>
    </h1>
    {% if page_header_level %}
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        {% for level in page_header_level %}
          <li class="active">{{ level }}</li>
        {% endfor %}
      </ol>
    {% endif %}
  </section>
{% endmacro %}


{% macro build_menu(current_user, current_menu) %}
  {% if current_user.is_authenticated %}
    {% for item in current_menu.children recursive %}
      {% if item.visible %}
      <li class="{{ 'active' if item.active }}">
        {% if item.children %}
          {{ build_menu_chidren(item) }}
        {% else %}
          {{ build_menu_link(item) }}
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}


{% macro build_menu_link(item) %}
  <a href="{{ item.url }}">
    <i class="fa fa-{{ item.icon if item.icon else 'windows' }}"></i>
    <span>{{ item.text }}</span>
  </a>
{% endmacro %}


{% macro build_menu_chidren(item) %}
  <li class="treeview {% if item.active or item.active_item %}active{% endif %}">
    <a href="">
      <i class="fa fa-{{ item.icon if item.icon else 'windows' }}"></i>
      <span>{{ item.text }}</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      {% for i in item.children %}
        {% if i.children and i.text %}
          {{ build_menu_chidren(i) }}
        {% elif i.visible %}
          <li{{ ' class="active"' if i.active }}>
            <a href="{{ i.url }}">
              <i class="fa fa-{{ i.icon if i.icon else 'circle-o' }}"></i>
              {{ i.text }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endmacro %}
