.content-wrapper {
  overflow: auto;
}

.logo-full-svg {
  max-width: 130px;
  max-height: 34px;
}

.logo-bird-svg {
  max-width: 32px;
  max-height: 27px;
}

#table-list-serverside_length, #table-list_length {
  float: left;
  margin-right: 5px;
}

#table-list-serverside_filter, #table-list_filter {
  clear: left;
}

.delete-selected-rows {
  display: none;
  color: white;
}

#Patch AdminLTE
.select2-selection__rendered {
    padding-left:0;
    padding-right:0;
    height:auto;
    #margin-top:-4px
}
