.content-wrapper {
  overflow: auto;
}

.logo-full-svg {
  max-width: 130px;
  max-height: 34px;
}

.logo-bird-svg {
  max-width: 32px;
  max-height: 27px;
}

.dataTable tbody tr {
  cursor: pointer;
}

.dataTable tbody tr.even:hover {
  background-color: #eeeeee;
  color: #111111;
}

.dataTable tbody tr.odd:hover {
  background-color: #dddddd;
  color: #111111;
}

.dataTable tbody tr.selected:hover {
  background-color: #00a1f2;
  color: #eeeeee;
}

.help-block {
  padding-left: 13px;
}

.table .box {
  margin-bottom: 0px;
  color: #000;
}
